

<ion-view view-title="Rezepte">
    <ion-content >
        <div  ng-controller="RezepteCtrl">
            <h1>{{rezept}}</h1>
            
            <ion-list >                
                <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="rezept in Rezepte" type="item-text-wrap" href="#/tab/details/{{rezept.id}}">                   
                    <img ng-src="{{rezept.img}}">
                    <h2>{{rezept.name}}</h2>
                    <p>{{rezept.dauer}}</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>                  
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>

