

<ion-view view-title="Rezepte">
    <ion-content >
        <div  ng-controller="RezepteCtrl">
            <h1>{{rezept}}</h1>
            
            <!-- Suchfunktion -->            
                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper" placeholder="Search a user" filter="search">
                        <i class="icon ion-ios7-search placeholder-icon"></i>
                        <input type="search" placeholder="Rezepte durchsuchen" ng-model="query.name" class="form-control" id="queryName">
                    </label>
                </div>
            <ion-list show-delete="false" can-swipe="true">  

                <div ng-repeat="kat in Kategorien">
                    <!-- Kategorien Header darstellen -->    
                    <div class="item item-divider">
                        {{kat.name}}
                    </div>

                    <div ng-controller="dragCtrl" ng-repeat="rezept in Rezepte|filter: query|orderBy:sort.predicate:sort.reverse"> <!-- schfunktion - Filter -->
                        <div ng-if="rezept.kategorie === kat.id"> <!-- Falls das Rezept zu der aktuellen Kategorie gehört wird das rezept dargestellt -->
                            <!-- ein ion-Item pro Rezept -->
                                <ion-item class="item-avatar" type="item-text-wrap" href="#/tab/details/{{rezept.id}}">
                                    <img ng-src="{{rezept.img}}"/>
                                    <h2>{{rezept.name}}</h2>
                                    <p>{{rezept.dauer}}</p>
                                    
                                    <ion-option-button class="button-light" ng-click="bearbeiten();">bearbeiten</ion-option-button>
                                    <ion-option-button class="button-light" ng-click="func({{rezept.id}});">löschen</ion-option-button>
                                </ion-item>
                        </div>
                    </div>

                </div>
                               
            </ion-list>
            
            
        </div>
    </ion-content>
</ion-view>

